body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #aa4d00;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.right img {
    width: 350px;
    height: 85%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.message {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}

.message p {
    margin: 0;
    font-size: 18px;
}